.value-cluster-child {
  position: absolute;
  top: 121.2px;
  left: 0;
  border-top: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  width: 1837.9px;
  height: 1px;
}
.moodholiclogo-2-icon {
  position: absolute;
  height: calc(100% - 1.2px);
  top: 0;
  bottom: 1.2px;
  left: 829.5px;
  max-height: 100%;
  width: 167px;
  object-fit: cover;
}
.div {
  position: absolute;
  top: 61px;
  left: 29.6px;
  font-weight: 500;
  display: inline-block;
  min-width: 71px;
  white-space: nowrap;
  z-index: 1;
}
.image-1-icon {
  height: 59.8px;
  width: 59.8px;
  position: absolute;
  margin: 0 !important;
  top: -17.9px;
  left: -53.9px;
  object-fit: cover;
}
.div1 {
  width: 60px;
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 60px;
  white-space: nowrap;
  z-index: 1;
}
.output-merge {
  position: absolute;
  top: 59px;
  left: 153.5px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-4xl);
  color: var(--color-black);
}
.group-icon,
.group-icon1 {
  position: absolute;
  top: 45px;
}
.group-icon {
  left: 1760px;
  width: 38.7px;
  height: 35.2px;
  object-fit: contain;
}
.group-icon1 {
  left: 1643px;
  width: 35px;
  height: 35px;
}
.uimgraph-bar-icon {
  position: absolute;
  top: 42px;
  left: 1696px;
  width: 46px;
  height: 41px;
  overflow: hidden;
}
.value-cluster {
  align-self: stretch;
  height: 122.2px;
  position: relative;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-gray-300);
  font-family: var(--font-inter);
}
.frame-child {
  height: 62px;
  width: 84.3px;
  position: relative;
  border-radius: var(--br-mini);
  background-color: var(--color-gold);
  display: none;
}
.star-shape-icon {
  height: 40px;
  width: 40px;
  position: relative;
  z-index: 1;
}
.frame-div,
.rectangle-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-parent {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs-9) var(--padding-3xl-1) var(--padding-2xs-1) 22.2px;
  background-color: var(--color-gold);
  border-radius: var(--br-mini);
  flex-direction: row;
}
.frame-div {
  flex-direction: column;
  padding: 0 var(--padding-5xs-1) 0 0;
}
.frame-item {
  height: 62px;
  width: 84.3px;
  position: relative;
  border-radius: var(--br-mini);
  background-color: var(--color-gainsboro-100);
  display: none;
}
.vector-icon {
  height: 37.5px;
  width: 35px;
  position: relative;
  z-index: 1;
}
.frame-wrapper1,
.rectangle-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-group {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm-1) 23.9px var(--padding-xs-4);
  background-color: var(--color-gainsboro-100);
  border-radius: var(--br-mini);
  flex-direction: row;
}
.frame-wrapper1 {
  flex-direction: column;
  padding: 0 var(--padding-3xs-7) 0 0;
}
.frame-inner {
  height: 62px;
  width: 84.3px;
  position: relative;
  border-radius: var(--br-mini);
  background-color: var(--color-gainsboro-100);
  display: none;
}
.vector-icon1 {
  height: 35.3px;
  width: 35.6px;
  position: relative;
  z-index: 1;
}
.rectangle-container,
.rectangle-div {
  border-radius: var(--br-mini);
  background-color: var(--color-gainsboro-100);
}
.rectangle-container {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mini-7) 23.8px var(--padding-xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-div {
  height: 62px;
  width: 84.3px;
  position: relative;
  display: none;
}
.vector-icon2 {
  height: 33.3px;
  width: 41.7px;
  position: relative;
  z-index: 1;
}
.frame-container,
.group-button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.group-button {
  cursor: pointer;
  border: 0;
  padding: 15.7px var(--padding-2xl-2) var(--padding-smi) var(--padding-2xl-4);
  background-color: var(--color-gainsboro-100);
  border-radius: var(--br-mini);
  justify-content: flex-start;
}
.frame-container {
  width: 513.3px;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
}
.frame-wrapper,
.line-icon {
  align-self: stretch;
  max-width: 100%;
}
.frame-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-2xl) 0 var(--padding-xl);
  box-sizing: border-box;
}
.line-icon {
  position: relative;
  overflow: hidden;
  max-height: 100%;
}
.frame-child1,
.icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.frame-child1 {
  border-radius: var(--br-mini);
  background-color: var(--color-whitesmoke-200);
}
.icon {
  object-fit: cover;
}
.icon1,
.parent {
  position: absolute;
  z-index: 1;

}
.icon1 {
  height: calc(100% - 9.3px);
  top: 6.3px;
  bottom: 3px;
  left: 25.2px;
  max-height: 100%;
  width: 48.1px;
  object-fit: contain;
}
.parent {
  width: calc(100% - 10.6px);
  top: 13.3px;
  right: 4.9px;
  left: 5.7px;
  height: 61.3px;
  background-image: url(@/assets/icon/Profile/AIrecommended/List/thunder.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.rectangle-parent1 {
  height: 87.7px;
  width: 110.6px;
  position: relative;
  border-radius: var(--br-mini);
  background-color: var(--color-whitesmoke-200);
}
.b {
  align-self: stretch;
  position: relative;
}
.div2,
.vector-icon3 {
  position: relative;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.vector-icon3 {
  height: 21px;
  width: 19.6px;
  min-height: 21px;
}
.div2 {
  line-height: 18.4px;
  font-weight: 600;
  display: inline-block;
  min-width: 45px;
}
.vector-parent,
.wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.wrapper {
  flex-direction: column;
  padding: var(--padding-10xs-5) 0 0;
}
.vector-parent {
  flex-direction: row;
  gap: var(--gap-7xs-2);
}
.vector-icon4 {
  height: 19.7px;
  width: 19.9px;
  position: relative;
  min-height: 20px;
}
.div3 {
  position: relative;
  line-height: 18.4px;
  font-weight: 600;
  display: inline-block;
  min-width: 45px;
}
.container,
.vector-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.container {
  flex-direction: column;
  padding: var(--padding-11xs-9) 0 0;
}
.vector-group {
  flex-direction: row;
  gap: var(--gap-9xs);
}
.box-shadow-icon,
.div4 {
  position: relative;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.box-shadow-icon {
  height: 18.6px;
  width: 23.3px;
}
.div4 {
  line-height: 18.4px;
  font-weight: 600;
  display: inline-block;
  min-width: 69px;
}
.box-shadow-parent,
.frame {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame {
  flex-direction: column;
  padding: var(--padding-11xs-3) 0 0;
}
.box-shadow-parent {
  flex-direction: row;
  gap: var(--gap-6xs-1);
}
.frame-parent4,
.frame-wrapper6 {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.frame-parent4 {
  flex: 1;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-wrapper6 {
  width: 367.3px;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs) 0 var(--padding-10xs-3);
  box-sizing: border-box;
  font-size: var(--font-size-mini);
  color: var(--color-gray-100);
}
.frame-wrapper5,
.group {
  flex-direction: column;
  justify-content: flex-start;
}
.group {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  gap: var(--gap-sm);
  max-width: 100%;
}
.frame-wrapper5 {
  flex: 1;
  padding: var(--padding-sm) 0 0;
  box-sizing: border-box;
  min-width: 246px;
}
.frame-parent3,
.frame-wrapper4,
.frame-wrapper5 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent3 {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-lg-5);
}
.frame-wrapper4 {
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 var(--padding-9xs-2);
  box-sizing: border-box;
}
.data-filter {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 86px;
}
.data-filter-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.input-collector-icon {
  height: 22.4px;
  width: 25.9px;
  position: relative;
  min-height: 22px;
}
.frame-parent2,
.frame-parent5 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.frame-parent5 {
  align-items: flex-start;
  gap: var(--gap-xs);
  font-size: var(--font-size-mini);
  color: var(--color-gray-100);
}
.frame-parent2 {
  flex: 1;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: var(--gap-20xl-6);
  max-width: 100%;
}
.frame-child2,
.frame-wrapper3 {
  align-self: stretch;
  max-width: 100%;
}
.frame-wrapper3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-mini-2) 0 var(--padding-lg);
  box-sizing: border-box;
}
.frame-child2 {
  position: relative;
  overflow: hidden;
  max-height: 100%;
}
.frame-parent1,
.frame-wrapper2 {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent1 {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-4xs-4);
}
.frame-wrapper2 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-lgi) 0 var(--padding-base-6);
  box-sizing: border-box;
}
.frame-child3 {
  height: 87.7px;
  width: 110.6px;
  position: relative;
  border-radius: var(--br-mini);
  background-color: var(--color-whitesmoke-200);
  display: none;
}
.kakaotalk-20240415-122835664-icon {
  height: 61px;
  width: 100px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.frame-button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm) var(--padding-7xs-1) var(--padding-smi-7);
  background-color: var(--color-whitesmoke-200);
  border-radius: var(--br-mini);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.b1 {
  align-self: stretch;
  position: relative;
}
.div5{
  position: relative;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.vector-icon5 {
  height: 21px;
  width: 19.6px;
  min-height: 21px;
}
.div5 {
  line-height: 18.4px;
  font-weight: 600;
  display: inline-block;
  min-width: 45px;
}
.vector-container,
.wrapper1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.wrapper1 {
  flex-direction: column;
  padding: var(--padding-10xs-5) 0 0;
}
.vector-container {
  flex-direction: row;
  gap: var(--gap-7xs-2);
}
.vector-icon6 {
  height: 19.7px;
  width: 19.9px;
  position: relative;
  min-height: 20px;
}
.div6 {
  position: relative;
  line-height: 18.4px;
  font-weight: 600;
  display: inline-block;
  min-width: 45px;
}
.vector-parent1,
.wrapper2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.wrapper2 {
  flex-direction: column;
  padding: var(--padding-11xs-9) 0 0;
}
.vector-parent1 {
  flex-direction: row;
  gap: var(--gap-9xs);
}
.div7,
.while-loop-icon {
  position: relative;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.while-loop-icon {
  height: 18.6px;
  width: 23.3px;
}
.div7 {
  line-height: 18.4px;
  font-weight: 600;
  display: inline-block;
  min-width: 69px;
}
.while-loop-parent,
.wrapper3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.wrapper3 {
  flex-direction: column;
  padding: var(--padding-11xs-3) 0 0;
}
.while-loop-parent {
  flex-direction: row;
  gap: var(--gap-6xs-1);
}
.frame-parent7,
.frame-wrapper8 {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.frame-parent7 {
  flex: 1;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-wrapper8 {
  width: 367.3px;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs) 0 var(--padding-10xs-3);
  box-sizing: border-box;
  font-size: var(--font-size-mini);
  color: var(--color-gray-100);
}
.frame-wrapper7,
.parent1 {
  flex-direction: column;
  justify-content: flex-start;
}
.parent1 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  gap: var(--gap-sm);
  max-width: 100%;
}
.frame-wrapper7 {
  flex: 1;
  padding: var(--padding-sm) 0 0;
  box-sizing: border-box;
  min-width: 246px;
}
.filter-set-inner,
.frame-parent6,
.frame-wrapper7 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent6 {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-lg-5);
}
.filter-set-inner {
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 var(--padding-9xs-2);
  box-sizing: border-box;
}
.arithmetic-operator {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 86px;
}
.arithmetic-operator-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.logical-operator-icon {
  height: 22.4px;
  width: 25.9px;
  position: relative;
  min-height: 22px;
}
.frame-parent8 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
  font-size: var(--font-size-mini);
  color: var(--color-gray-100);
}
.filter-set,
.result-merger {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.filter-set {
  flex: 1;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-20xl-6);
}
.result-merger {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-mini-2) 0 var(--padding-lg);
  box-sizing: border-box;
}
.boolean-operator-child {
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.boolean-operator {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-8xs-3);
  box-sizing: border-box;
  max-width: 100%;
}
.frame-child4 {
  height: 87.7px;
  width: 110.6px;
  position: relative;
  border-radius: var(--br-mini);
  background-color: var(--color-whitesmoke-200);
  display: none;
}
.kakaotalk-20240415-122835664-0-icon {
  height: 61px;
  width: 100px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.rectangle-parent2 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm) var(--padding-7xs-1) var(--padding-smi-7);
  background-color: var(--color-whitesmoke-200);
  border-radius: var(--br-mini);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.b2 {
  align-self: stretch;
  position: relative;
}
.div8,
.vector-icon7 {
  position: relative;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.vector-icon7 {
  height: 21px;
  width: 19.6px;
  min-height: 21px;
}
.div8 {
  line-height: 18.4px;
  font-weight: 600;
  display: inline-block;
  min-width: 45px;
}
.vector-parent2,
.wrapper4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.wrapper4 {
  flex-direction: column;
  padding: var(--padding-10xs-5) 0 0;
}
.vector-parent2 {
  flex-direction: row;
  gap: var(--gap-7xs-2);
}
.function-parameter-icon {
  height: 19.7px;
  width: 19.9px;
  position: relative;
  min-height: 20px;
}
.div9 {
  position: relative;
  line-height: 18.4px;
  font-weight: 600;
  display: inline-block;
  min-width: 45px;
}
.function-parameter-parent,
.wrapper5 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.wrapper5 {
  flex-direction: column;
  padding: var(--padding-11xs-9) 0 0;
}
.function-parameter-parent {
  flex-direction: row;
  gap: var(--gap-9xs);
}
.div10,
.vector-icon8 {
  position: relative;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.vector-icon8 {
  height: 18.6px;
  width: 23.3px;
}
.div10 {
  line-height: 18.4px;
  font-weight: 600;
  display: inline-block;
  min-width: 69px;
}
.vector-parent3,
.wrapper6 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.wrapper6 {
  flex-direction: column;
  padding: var(--padding-11xs-3) 0 0;
}
.vector-parent3 {
  flex-direction: row;
  gap: var(--gap-6xs-1);
}
.frame-parent12,
.frame-wrapper12 {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.frame-parent12 {
  flex: 1;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-wrapper12 {
  width: 367.3px;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs) 0 var(--padding-10xs-3);
  box-sizing: border-box;
  font-size: var(--font-size-mini);
  color: var(--color-gray-100);
}
.frame-wrapper11,
.parent2 {
  flex-direction: column;
  justify-content: flex-start;
}
.parent2 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  gap: var(--gap-sm);
  max-width: 100%;
}
.frame-wrapper11 {
  flex: 1;
  padding: var(--padding-sm) 0 0;
  box-sizing: border-box;
  min-width: 246px;
}
.frame-parent11,
.frame-wrapper10,
.frame-wrapper11 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent11 {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-lg-5);
}
.frame-wrapper10 {
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 var(--padding-9xs-2);
  box-sizing: border-box;
}
.property-assignment {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 86px;
}
.property-assignment-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.constructor-icon {
  height: 22.4px;
  width: 25.9px;
  position: relative;
  min-height: 22px;
}
.frame-parent10,
.frame-parent13 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.frame-parent13 {
  align-items: flex-start;
  gap: var(--gap-xs);
  font-size: var(--font-size-mini);
  color: var(--color-gray-100);
}
.frame-parent10 {
  flex: 1;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: var(--gap-20xl-6);
  max-width: 100%;
}
.frame-child5,
.frame-wrapper9 {
  align-self: stretch;
  max-width: 100%;
}
.frame-wrapper9 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-mini-2) 0 var(--padding-lg);
  box-sizing: border-box;
}
.frame-child5 {
  position: relative;
  overflow: hidden;
  max-height: 100%;
}
.frame-parent9 {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-4xs-4);
}
.data-aggregator,
.frame-parent9,
.input-processor {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.input-processor {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-4xs-4);
}
.data-aggregator {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-lgi) 0 var(--padding-base-6);
  box-sizing: border-box;
}
.frame-child6,
.icon2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.frame-child6 {
  border-radius: var(--br-mini);
  background-color: var(--color-whitesmoke-200);
}
.icon2 {
  object-fit: cover;
}
.group-div{
  position: absolute;
  z-index: 1;
}

.group-div {
  width: calc(100% - 10.6px);
  top: 13.3px;
  right: 4.9px;
  left: 5.7px;
  height: 61.3px;
  background-image: url(@/assets/icon/Profile/AIrecommended/List/thunder.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.rectangle-parent3 {
  height: 87.7px;
  width: 110.6px;
  position: relative;
  border-radius: var(--br-mini);
  background-color: var(--color-whitesmoke-200);
}
.b3 {
  align-self: stretch;
  position: relative;
}
.div11,
.vector-icon9 {
  position: relative;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.vector-icon9 {
  height: 21px;
  width: 19.6px;
  min-height: 21px;
}
.div11 {
  line-height: 18.4px;
  font-weight: 600;
  display: inline-block;
  min-width: 45px;
}
.vector-parent4,
.wrapper7 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.wrapper7 {
  flex-direction: column;
  padding: var(--padding-10xs-5) 0 0;
}
.vector-parent4 {
  flex-direction: row;
  gap: var(--gap-7xs-2);
}
.vector-icon10 {
  height: 19.7px;
  width: 19.9px;
  position: relative;
  min-height: 20px;
}
.div12 {
  position: relative;
  line-height: 18.4px;
  font-weight: 600;
  display: inline-block;
  min-width: 45px;
}
.vector-parent5,
.wrapper8 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.wrapper8 {
  flex-direction: column;
  padding: var(--padding-11xs-9) 0 0;
}
.vector-parent5 {
  flex-direction: row;
  gap: var(--gap-9xs);
}
.div13,
.vector-icon11 {
  position: relative;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.vector-icon11 {
  height: 18.6px;
  width: 23.3px;
}
.div13 {
  line-height: 18.4px;
  font-weight: 600;
  display: inline-block;
  min-width: 69px;
}
.vector-parent6,
.wrapper9 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.wrapper9 {
  flex-direction: column;
  padding: var(--padding-11xs-3) 0 0;
}
.vector-parent6 {
  flex-direction: row;
  gap: var(--gap-6xs-1);
}
.frame-parent17,
.frame-wrapper17 {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.frame-parent17 {
  flex: 1;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-wrapper17 {
  width: 367.3px;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs) 0 var(--padding-10xs-3);
  box-sizing: border-box;
  font-size: var(--font-size-mini);
  color: var(--color-gray-100);
}
.frame-wrapper16,
.parent3 {
  flex-direction: column;
  justify-content: flex-start;
}
.parent3 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  gap: var(--gap-sm);
  max-width: 100%;
}
.frame-wrapper16 {
  flex: 1;
  padding: var(--padding-sm) 0 0;
  box-sizing: border-box;
  min-width: 246px;
}
.frame-parent16,
.frame-wrapper15,
.frame-wrapper16 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent16 {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-lg-5);
}
.frame-wrapper15 {
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 var(--padding-9xs-2);
  box-sizing: border-box;
}
.div14 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 86px;
}
.wrapper10 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.vector-icon12 {
  height: 22.4px;
  width: 25.9px;
  position: relative;
  min-height: 22px;
}
.frame-parent15,
.frame-parent18 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.frame-parent18 {
  align-items: flex-start;
  gap: var(--gap-xs);
  font-size: var(--font-size-mini);
  color: var(--color-gray-100);
}
.frame-parent15 {
  flex: 1;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: var(--gap-20xl-6);
  max-width: 100%;
}
.frame-child7,
.frame-wrapper14 {
  align-self: stretch;
  max-width: 100%;
}
.frame-wrapper14 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-mini-2) 0 var(--padding-lg);
  box-sizing: border-box;
}
.frame-child7 {
  position: relative;
  overflow: hidden;
  max-height: 100%;
}
.frame-parent14,
.frame-wrapper13 {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent14 {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-4xs-4);
}
.frame-wrapper13 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-lgi) 0 var(--padding-base-6);
  box-sizing: border-box;
}
.frame-child8,
.icon4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.frame-child8 {
  border-radius: var(--br-mini);
  background-color: var(--color-whitesmoke-200);
}
.icon4 {
  object-fit: cover;
}

.parent4 {
  position: absolute;
  z-index: 1;
}

.parent4 {
  width: calc(100% - 10.6px);
  top: 13.3px;
  right: 4.9px;
  left: 5.7px;
  height: 61.3px;
  background-image: url(@/assets/icon/Profile/AIrecommended/List/thunder.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.rectangle-parent4 {
  height: 87.7px;
  width: 110.6px;
  position: relative;
  border-radius: var(--br-mini);
  background-color: var(--color-whitesmoke-200);
}
.b4 {
  align-self: stretch;
  position: relative;
}
.div15,
.vector-icon13 {
  position: relative;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.vector-icon13 {
  height: 21px;
  width: 19.6px;
  min-height: 21px;
}
.div15 {
  line-height: 18.4px;
  font-weight: 600;
  display: inline-block;
  min-width: 45px;
}
.vector-parent7,
.wrapper11 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.wrapper11 {
  flex-direction: column;
  padding: var(--padding-10xs-5) 0 0;
}
.vector-parent7 {
  flex-direction: row;
  gap: var(--gap-7xs-2);
}
.vector-icon14 {
  height: 19.7px;
  width: 19.9px;
  position: relative;
  min-height: 20px;
}
.div16 {
  position: relative;
  line-height: 18.4px;
  font-weight: 600;
  display: inline-block;
  min-width: 45px;
}
.vector-parent8,
.wrapper12 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.wrapper12 {
  flex-direction: column;
  padding: var(--padding-11xs-9) 0 0;
}
.vector-parent8 {
  flex-direction: row;
  gap: var(--gap-9xs);
}
.div17,
.vector-icon15 {
  position: relative;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.vector-icon15 {
  height: 18.6px;
  width: 23.3px;
}
.div17 {
  line-height: 18.4px;
  font-weight: 600;
  display: inline-block;
  min-width: 69px;
}
.vector-parent9,
.wrapper13 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.wrapper13 {
  flex-direction: column;
  padding: var(--padding-11xs-3) 0 0;
}
.vector-parent9 {
  flex-direction: row;
  gap: var(--gap-6xs-1);
}
.frame-parent22,
.frame-wrapper22 {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.frame-parent22 {
  flex: 1;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-wrapper22 {
  width: 367.3px;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs) 0 var(--padding-10xs-3);
  box-sizing: border-box;
  font-size: var(--font-size-mini);
  color: var(--color-gray-100);
}
.frame-wrapper21,
.parent5 {
  flex-direction: column;
  justify-content: flex-start;
}
.parent5 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  gap: var(--gap-sm);
  max-width: 100%;
}
.frame-wrapper21 {
  flex: 1;
  padding: var(--padding-sm) 0 0;
  box-sizing: border-box;
  min-width: 246px;
}
.frame-parent21,
.frame-wrapper20,
.frame-wrapper21 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent21 {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-lg-5);
}
.frame-wrapper20 {
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 2.7px;
  box-sizing: border-box;
}
.div18 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 86px;
}
.wrapper14 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs-5) 0 0;
}
.vector-icon16 {
  height: 22.4px;
  width: 25.9px;
  position: relative;
  min-height: 22px;
}
.frame-parent20,
.frame-parent23 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.frame-parent23 {
  align-items: flex-start;
  gap: var(--gap-smi-4);
  font-size: var(--font-size-mini);
  color: var(--color-gray-100);
}
.frame-parent20 {
  flex: 1;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: var(--gap-20xl-6);
  max-width: 100%;
}
.frame-child9,
.frame-wrapper19 {
  align-self: stretch;
  max-width: 100%;
}
.frame-wrapper19 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-sm-8) 0 var(--padding-lg);
  box-sizing: border-box;
}
.frame-child9 {
  position: relative;
  overflow: hidden;
  max-height: 100%;
}
.frame-parent19,
.frame-wrapper18 {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent19 {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-4xs-9);
}
.frame-wrapper18 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-lgi) 0 var(--padding-base-6);
  box-sizing: border-box;
}
.frame-child10,
.icon6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.frame-child10 {
  border-radius: var(--br-mini);
  background-color: var(--color-whitesmoke-200);
}
.icon6 {
  object-fit: cover;
}
.parent6 {
  position: absolute;
  z-index: 1;
}
.parent6 {
  width: calc(100% - 10.6px);
  top: 13.3px;
  right: 4.9px;
  left: 5.7px;
  height: 61.3px;
  background-image: url(@/assets/icon/Profile/AIrecommended/List/thunder.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.rectangle-parent5 {
  height: 87.7px;
  width: 110.6px;
  position: relative;
  border-radius: var(--br-mini);
  background-color: var(--color-whitesmoke-200);
}
.b5 {
  align-self: stretch;
  position: relative;
}
.div19,
.vector-icon17 {
  position: relative;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.vector-icon17 {
  height: 21px;
  width: 19.6px;
  min-height: 21px;
}
.div19 {
  line-height: 18.4px;
  font-weight: 600;
  display: inline-block;
  min-width: 45px;
}
.vector-parent10,
.wrapper15 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.wrapper15 {
  flex-direction: column;
  padding: var(--padding-10xs-5) 0 0;
}
.vector-parent10 {
  flex-direction: row;
  gap: var(--gap-7xs-2);
}
.vector-icon18 {
  height: 19.7px;
  width: 19.9px;
  position: relative;
  min-height: 20px;
}
.div20 {
  position: relative;
  line-height: 18.4px;
  font-weight: 600;
  display: inline-block;
  min-width: 45px;
}
.vector-parent11,
.wrapper16 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.wrapper16 {
  flex-direction: column;
  padding: var(--padding-11xs-9) 0 0;
}
.vector-parent11 {
  flex-direction: row;
  gap: var(--gap-9xs);
}
.div21,
.vector-icon19 {
  position: relative;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.vector-icon19 {
  height: 18.6px;
  width: 23.3px;
}
.div21 {
  line-height: 18.4px;
  font-weight: 600;
  display: inline-block;
  min-width: 69px;
}
.vector-parent12,
.wrapper17 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.wrapper17 {
  flex-direction: column;
  padding: var(--padding-11xs-3) 0 0;
}
.vector-parent12 {
  flex-direction: row;
  gap: var(--gap-6xs-1);
}
.frame-parent27,
.frame-wrapper27 {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.frame-parent27 {
  flex: 1;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-wrapper27 {
  width: 367.3px;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs) 0 var(--padding-10xs-3);
  box-sizing: border-box;
  font-size: var(--font-size-mini);
  color: var(--color-gray-100);
}
.frame-wrapper26,
.parent7 {
  flex-direction: column;
  justify-content: flex-start;
}
.parent7 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  gap: var(--gap-mini);
  max-width: 100%;
}
.frame-wrapper26 {
  flex: 1;
  padding: var(--padding-smi) 0 0;
  box-sizing: border-box;
  min-width: 246px;
}
.frame-parent26,
.frame-wrapper25,
.frame-wrapper26 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent26 {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-lg-5);
}
.frame-wrapper25 {
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 var(--padding-9xs-2);
  box-sizing: border-box;
}
.div22 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 86px;
}
.wrapper18 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.vector-icon20 {
  height: 22.4px;
  width: 25.9px;
  position: relative;
  min-height: 22px;
}
.frame-parent25,
.frame-parent28 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.frame-parent28 {
  align-items: flex-start;
  gap: var(--gap-xs);
  font-size: var(--font-size-mini);
  color: var(--color-gray-100);
}
.frame-parent25 {
  flex: 1;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: var(--gap-20xl-6);
  max-width: 100%;
}
.frame-child11,
.frame-wrapper24 {
  align-self: stretch;
  max-width: 100%;
}
.frame-wrapper24 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-mini-2) 0 var(--padding-lg);
  box-sizing: border-box;
}
.frame-child11 {
  position: relative;
  overflow: hidden;
  max-height: 100%;
}
.frame-group,
.frame-parent24,
.frame-wrapper23 {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent24 {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-4xs-4);
}
.frame-group,
.frame-wrapper23 {
  align-self: stretch;
  align-items: flex-start;
}
.frame-wrapper23 {
  flex-direction: row;
  padding: 0 var(--padding-lgi) 0 var(--padding-base-6);
  box-sizing: border-box;
}
.frame-group {
  flex-direction: column;
  gap: var(--gap-smi-5);
}
.vector-icon21 {
  width: 17.4px;
  height: 29.9px;
  position: relative;
  object-fit: contain;
}
.vector-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs-4) var(--padding-7xs-8) 0 0;
}
.ellipse-div {
  position: absolute;
  top: 2px;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-gainsboro-100);
  width: 31.5px;
  height: 30.7px;
}
.div23 {
  position: absolute;
  top: 0;
  left: 8px;
  display: inline-block;
  width: 14px;
  height: 26.7px;
  min-width: 14px;
  z-index: 1;
}
.ellipse-parent {
  height: 32.7px;
  width: 31.5px;
  position: relative;
}
.div24 {
  height: 26.7px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  min-width: 10.4px;
}
.wrapper19 {
  width: 20.9px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.div25 {
  height: 26.7px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  min-width: 10.4px;
}
.wrapper20 {
  width: 20.9px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs) 0 0;
  box-sizing: border-box;
}
.div26 {
  height: 26.7px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  min-width: 10.4px;
}
.wrapper21 {
  width: 19.6px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.div27 {
  height: 26.7px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  min-width: 10.4px;
}
.wrapper22 {
  width: 27.2px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-4xs) 0 0;
  box-sizing: border-box;
}
.vector-icon22 {
  width: 17.4px;
  height: 29.9px;
  position: relative;
  object-fit: contain;
}
.vector-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs-4) 0 0;
}
.frame-parent29,
.frame-wrapper28 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent29 {
  width: 343.7px;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-wrapper28 {
  width: 721.7px;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
}
.frame-parent {
  width: 738.3px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 54.7px;
  max-width: 100%;
}
.ai,
.ai-inner {
  display: flex;
  align-items: flex-start;
}
.ai-inner {
  width: 1823.1px;
  flex-direction: row;
  justify-content: center;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-dimgray-100);
  font-family: var(--font-inter);
}
.ai {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-4xs) var(--padding-21xl) 66.7px;
  box-sizing: border-box;
  gap: 39.1px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 750px) {
  .filter-set,
  .frame-parent10,
  .frame-parent15,
  .frame-parent2,
  .frame-parent20,
  .frame-parent25 {
    gap: var(--gap-xl);
  }
  .div23,
  .div24,
  .div25,
  .div26,
  .div27 {
    font-size: var(--font-size-5xl);
  }
  .frame-parent {
    gap: var(--gap-8xl);
  }
}
@media screen and (max-width: 675px) {
  .frame-container {
    justify-content: center;
  }
  .frame-parent11,
  .frame-parent16,
  .frame-parent21,
  .frame-parent26,
  .frame-parent3,
  .frame-parent6 {
    flex-wrap: wrap;
  }
  .ai {
    gap: var(--gap-xl);
  }
}
@media screen and (max-width: 450px) {
  .b {
    font-size: var(--font-size-base);
  }
  .frame-parent4 {
    flex-wrap: wrap;
  }
  .b1 {
    font-size: var(--font-size-base);
  }
  .frame-parent7 {
    flex-wrap: wrap;
  }
  .b2 {
    font-size: var(--font-size-base);
  }
  .frame-parent12 {
    flex-wrap: wrap;
  }
  .b3 {
    font-size: var(--font-size-base);
  }
  .frame-parent17 {
    flex-wrap: wrap;
  }
  .b4 {
    font-size: var(--font-size-base);
  }
  .frame-parent22 {
    flex-wrap: wrap;
  }
  .b5 {
    font-size: var(--font-size-base);
  }
  .frame-parent27 {
    flex-wrap: wrap;
  }
  .div23,
  .div24,
  .div25,
  .div26,
  .div27 {
    font-size: var(--font-size-lg);
  }
}
